@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&family=Space+Grotesk:wght@300;600&display=swap");

body {
  background-color: black;
}

h1 {
  color: azure;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
  margin-inline: 4rem;
  font-size: 96px;
}

h3 {
  color: azure;
  text-align: right;
  font-family: "Space Grotesk", sans-serif;
  margin-inline: 10rem;
  font-size: 30px;
  font-weight: 300px;
  line-height: 40px;
}

button {
  float: left;
  height: 3rem;
  width: 13rem;
  background-color: #542bec;
  outline: none;
  border-radius: 15px;
  box-shadow: inset 2px 1px 3px pink;
}

button:active {
  background-color: #64549f;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 6);
}

/* .hide {
  display: none;
} */

@media (max-width: 680px) {
  h1 {
    color: azure;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 600;
    margin-inline: 0;
    font-size: 40px;
    text-align: left;
  }

  h3 {
    color: azure;
    text-align: left;
    margin-inline: 0;
    font-size: 20px;
  }
  button {
    clear: both;
    height: 3rem;
    width: 13rem;
    background-color: #542bec;
    outline: none;
    border-radius: 15px;
    box-shadow: inset 2px 1px 3px pink;
  }
}
